<h1>Thank you!</h1>

<p>
  Your payment of <strong>€<%= @registration.total_cost %>.00</strong> was received
  and your registration is now completed.
</p>

<p>
  We're looking forward to seeing you in Sweden!
</p>
