<h1>Thank you!</h1>

<p>
  Your registration has been successfully added with the registration code <b><%= @registration.token %></b>.
  Don't forget to pay for your registration using the link below so that it can be confirmed.
</p>

<p>
  You may view the status of your registration (and pay for it) using this link:<br>
  <%= link_to registration_url(@registration), registration_url(@registration) %>
</p>
