<% @page_title = "Puja Registration" %>

<div class="container">
  <section>
    <%= link_to "<- Back to main page", root_path %>
    <h2>Puja Registration</h2>
    <%= render "form", registration: @registration %>
  </section>
</div>
