<% @page_title = "Puja Registration" %>

<div class="sub-page">
  <h1>Registration Desk</h1>
  <div class="container">
    <section>
      <!-- <p><%= link_to "<- Back to main page", root_path %></p> -->
      <%= render "form", registration: @registration %>
    </section>
  </div>
</div>
