<div class="container">
  <section>
    <%= link_to "<- Back to main page", root_path %>
    <h2>Puja registration</h2>
    <p>Please select if you wish to register a single person or group.</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="well text-center">
          <h3>Group</h3>
          <p style="text-align: left">
            Use the group registration if you wish to register multiple people
            from the same country staying in the same type of accommodation.
          </p>
          <%= link_to "Register Group", group_registrations_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well text-center">
          <h3>Single</h3>
          <p style="text-align: left">Use the single registration if you are registering only one person
            or if you want to register different people for different choices
            of accommodation.
          </p>
          <%= link_to "Register Single", single_registrations_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </section>
</div>
