<div class="container">
  <section>
    <%= link_to "<- Back to registration page", new_registration_path %>
    <h2>Single Registration</h2>
    <%= render "form", registration: @registration %>
  </section>
</div>
