<% @page_title = "Shri Adi Shakti Puja 2016" %>

<div id="intro-section" class="section intro-section">
  <div class="title-holder">
    <h1>Shri Adi Shakti Puja</h1>
    <h1 class="subtitle">Gothenburg, Sweden</h1>
  </div>
</div>
<div class="the-gradient">
<div id="welcome" class="section welcome-section">
  <h1>Welcome</h1>
  <div class="box">
    <p>
      Dear Sahaja Yogis of the world. With all our heart we would like to invite
      you to the coast of Gothenburg, between the 17-19th of June, to
      celebrate the international Shri Adi Shakti Puja 2016.
    </p>
    <p>
      We would like to say that this is an historical event. It will be the first
      international puja ever held in the Nordic countries (the right Vishuddhi
      of Europe) and the first big puja of any kind in Scandinavia.
    </p>
    <p>
      Since Shri Mataji herself did not come to Scandinavia after starting Sahaja
      Yoga so also feel in our hearts that for the first time we can
      properly receive her, through the presence of all the Sahaja Yogis in the world,
      in these lands.
    </p>
    <p>
      Since we will be celebrating this puja in the right Vishuddhi of the
      Virata we believe that it could have a very powerful effect on the
      collectivity all over. This is why we would like to reinforce this
      idea by having <b class="strong">Unity</b> as the theme of the puja.
    </p>
    <p>
      It is our dream to see yogis from all over the world coming together
      and uniting for this puja. Certainly this would make our Mother full
      of joy, so please join us!
    </p>
    <p>
      With all our love,<br>
      <i>Yogis of the Nordics (Denmark, Finland, Iceland, Norway and Sweden)
      together with co-hosting countries (Baltics, Holland, Belgium, France,
      Spain and the UK)</i>
    </p>
    <div class="text-center">
      <%= image_tag "welcome-shri-mataji.png", width: 287, height: 425, class: "img-rounded" %>
      <p>
        Jai Shri Mataji!
      </p>
    </div>

  </div>
</div>
<div id="venue" class="section venue-section fp-table">
  <h1>Venue</h1>
  <div class="box">
    <p>
      The Puja will be held at a beautiful camping site by the atlantic ocean on the
      west coast of Sweden, about half an hours journey from Gothenburg city.
    </p>
    <p>
      The site offers different choices for accommodation. If you prefer a bit of
      comfort and don't mind spending a bit extra for it you can register for a bed in one
      of the beautiful sea-side cabins or in the newly renovated hostel. Otherwise
      you are welcome to bring your sleeping bag and stay in one of the collective
      sleeping tents we will erect on the area. Should you prefer to bring your
      own tent that's also an option!
    </p>
    <p>
      The hall for evening programs and puja is a sports hall located just
      next to the camping site.
    </p>
    <p>
      We have taken some photographs of the place to give you an idea of
      what to expect. But you may keep in mind that the photos were taken in
      winter time, so you can expect it to look even more beautiful, warm
      and welcoming come midsummer!
    </p>
    <div class="row">
      <% venue_images.each do |filename, description| %>
        <% asset_name = File.basename(filename) %>
        <div class="col-sm-6">
          <%= link_to(
            image_tag("venue/thumbnails/#{asset_name}", class: "img-thumbnail"),
            asset_path("venue/#{asset_name}"),
            data: { lightbox: "venue", title: description },
            class: "thumbnail-link"
          ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="travel" class="section travel-section">
  <h1>Travel</h1>
  <div class="box">
    <p>
      By flight you can travel to Gothenburgs international airport called Landvetter.
      Cheap prices for flights can be searched for via
      <a href="http://skyscanner.com" target="_blank">Skyscanner</a>.
    </p>
    <p>
      From the airport you can use public transport to get to the puja area for about €10.
      Another good option if you are 4 in a group is to take a taxi for about €60 which will
      take you to your destination in 50 minutes.
      We will also offer airport pickup service for those who need for about €25 per person.
    </p>
    <p>
      For details on public transportation please have a look at our
      <a href="public.html">dedicated page</a> which you can print at your leisure.
    </p>
  </div>
</div>
<div id="visa" class="section visa-section">
  <h1>Visa</h1>
  <div class="box">
    <p>
      If you're not traveling from an EU/EES country you may need to apply for a Schengen Visa to travel into Sweden. The government office of Sweden has a
      <a href="http://www.government.se/government-policy/migration/list-of-foreign-citizens-who-require-visa-for-entry-into-sweden/" target="_blank">complete list</a>
      of countries needing Visa. Please use the link as a reference, if your country is listed you need a Visa, if not you can come at your leisure.
    </p>
    <p>
      To apply for a visa you can follow the advise given by <a href="http://www.swedenabroad.com/" target="_blank">www.swedenabroad.com</a>.
      First select your country / city from the dropdown menu, then click "Visit Sweden" followed by "Applying for a visa" or similar.
    </p>
  </div>
</div>
</div>
<div id="registration" class="section registration-section">
  <h1>Registration</h1>
  <div class="box">
    <p>
      All yogis wishing to join us in celebrating this historical puja will have to register beforehand.
      This will help us to order the correct amount of food and divide the limited spaces for accommodation in a practical manner.
    </p>
    <div class="text-center">
      <%= link_to "Register now!", new_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div class="menu bottom">
  <a class="menu-link" href="#welcome">Welcome</a>
  <a class="menu-link" href="#venue">Venue</a>
  <a class="menu-link" href="#travel">Travel</a>
  <a class="menu-link" href="#visa">Visa</a>
  <a class="menu-link" href="#registration">Registration</a>
</div>
