<% @page_title = "Shri Adi Shakti Puja 2016" %>

<div id="intro-section" class="section intro-section">
  <div class="title-holder">
    <h1>Shri Adi Shakti Puja</h1>
    <h1 class="subtitle">Gothenburg, Sweden</h1>
  </div>
</div>
<div class="the-gradient">
<div id="welcome" class="section welcome-section">
  <h1>Welcome</h1>
  <div class="box">
    <p>
      Dear Sahaja Yogis of the world. With all our heart we would like to invite
      you to the coast of Gothenburg, just before midsummer between the 17-19th of June, to
      celebrate the international Shri Adi Shakti Puja 2016.
    </p>
    <p>
      We would like to say that this is an historical event. It will be the first
      international puja ever held in the Nordic countries (the right Vishuddhi
      of Europe) and the first big puja of any kind in Scandinavia.
    </p>
    <p>
      Since Shri Mataji herself did not come to Scandinavia after starting Sahaja
      Yoga, we also feel in our hearts that for the first time we can
      properly receive her, through the presence of all the Sahaja Yogis in the world,
      in these lands.
    </p>
    <p>
      Since we will be celebrating this puja in the right Vishuddhi of the
      Virata we believe that it could have a very powerful effect on the
      collectivity all over. This is why we would like to reinforce this
      idea by having <b class="strong">Unity</b> as the theme of the puja.
    </p>
    <p>
      It is our dream to see yogis from all over the world coming together
      and uniting for this puja. Certainly this would make our Mother full
      of joy, so please join us!
    </p>
    <p>
      With all our love,<br>
      <i>Yogis of the Nordics (Denmark, Finland, Iceland, Norway and Sweden)
      together with co-hosting countries (Baltics, Holland, Belgium, France,
      Spain and the UK)</i>
    </p>
    <div class="text-center">
      <%= image_tag "welcome-shri-mataji.png", width: 287, height: 425, class: "img-rounded" %>
      <p>
        Jai Shri Mataji!
      </p>
    </div>
  </div>
</div>
<div id="venue" class="section venue-section fp-table">
  <h1>Venue</h1>
  <div class="box">
    <p>
      The Puja will be held at a beautiful camping site by the atlantic ocean on the
      west coast of Sweden, about half an hours journey from Gothenburg city.
    </p>
    <p>
      The site offers different choices for accommodation. If you prefer a bit of
      comfort and don't mind spending a bit extra for it you can register for a bed in one
      of the beautiful sea-side cabins or in the newly renovated hostel. Otherwise
      you are welcome to bring your sleeping bag and stay in one of the collective
      sleeping tents we will erect on the area. Should you prefer to bring your
      own tent that's also an option!
    </p>
    <p>
      The hall for evening programs and puja is a sports hall located just
      next to the camping site.
    </p>
    <p>
      We have taken some photographs of the place to give you an idea of
      what to expect. But you may keep in mind that the photos were taken in
      winter time, so you can expect it to look even more beautiful, warm
      and welcoming come midsummer!
    </p>
    <div class="row">
      <% venue_images.each do |filename, description| %>
        <% asset_name = File.basename(filename) %>
        <div class="col-sm-6">
          <%= link_to(
            image_tag("venue/thumbnails/#{asset_name}", class: "img-thumbnail"),
            asset_path("venue/#{asset_name}"),
            data: { lightbox: "venue", title: description },
            class: "thumbnail-link"
          ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="travel" class="section travel-section">
  <h1>Travel</h1>
  <div class="box">
    <p>
      By flight you should travel to Gothenburgs international airport called Landvetter.
      Cheap prices for flights can be searched for via
      <a href="http://skyscanner.com" target="_blank">Skyscanner</a>.
    </p>
    <p>
      From the airport you can use public transport to get to the puja area for about €10.
      Another option if you are 4 or more in a group is to take a taxi for about €100 which will
      take you to the puja site in 50 minutes.
      We will also offer airport pickup service for those who need for about €20 per person.
    </p>
    <p>
      For details on public transportation please have a look at our
      <a href="public.html">dedicated page</a> which you can print at your leisure.
    </p>
    <p>
      Should you come by car that's perfectly fine and there will be plenty of parking
      spaces available.
    </p>
    <p>
      The address of the puja site is:<br>
      Röavallen 1, 471 95 Skärhamn<br>
    </p>
    <p>
      If you have any further questions regarding how to travel to the puja please
      send us an email on <a href="mailto:adishaktipuja+travel@gmail.com">adishaktipuja+travel@gmail.com</a>
      and we'll get back to you.
    </p>
  </div>
</div>
<div id="visa" class="section visa-section">
  <h1>Visa</h1>
  <div class="box">
    <p>
      If you're not traveling from an EU/EES country you may need to apply for a
      Schengen Visa to travel into Sweden. The government office of Sweden has a
      <a href="http://www.government.se/government-policy/migration/list-of-foreign-citizens-who-require-visa-for-entry-into-sweden/" target="_blank">
      complete list</a> of countries needing Visa. Please use the link as a reference
      to find out if you'll need one.
    </p>
    <p>
      To apply for a visa you can follow the advise given by <a href="http://www.swedenabroad.com/" target="_blank">www.swedenabroad.com</a>.
      First select your country / city from the dropdown menu, then click "Visit Sweden" followed by "Applying for a visa" or similar.
      If you find that it's difficult for you to apply for a normal tourist visa you may request an invitation for a conference visa.
      Send an email to <a href="mailto:adishaktipuja+visa@gmail.com">adishaktipuja+visa@gmail.com</a> and we'll get back to you.
    </p>
  </div>
</div>
<div id="qa" class="section qa-section">
  <h1>Questions &amp; Answers</h1>
  <div class="box">
    <p>
      <b>Can I come early before puja and/or stay later after?</b><br>
      Staying longer in Sweden is a good idea - it's certainly the most beautiful
      time to visit the country. If you want to stay in the vibrations of
      the puja site and enjoy the sea you can place a booking at the site
      we're renting at <a href="http://www.havologi.se/en/" target="_blank">www.havologi.se</a>.
      Enter the code <i>Yoga109757</i> and you'll get a 10% discount on your booking.
    </p>
    <p>
      During Thursday night before the puja and Monday night after the puja you
      will also be able to stay inside the puja hall itself, but you'll have to
      bring your own sleeping bag.
    </p>
    <p>
      Unfortunately we don't have any ashrams or centers to stay in so if you
      prefer to stay closer to the cities so you'll have to find and book your
      own accommodation, which should be easy to do online.
    </p>
    <p>
      <b>What kind of weather can we expect?</b><br>
      On average temperatures in Gothenburg during June range from
      around 11°C in the nights to 22°C during the day. With a bit of luck
      we get warm weather and it will of course anyway be warmer in the sun...
      Bring your swimming gear and hope for the best, but also warmer
      clothes in case it gets chilly! Sleeping tents will be heated so no
      need to worry about cold nights.
    </p>
    <p>
      <b>Can I bring a pet to the puja?</b><br>
      If you have to bring a dog or another pet you have to contact us in advance
      since there are particular rules that we have to register all pets staying
      at the camping site. Also note that we will not allow pets inside the puja hall itself.
    </p>
    <p>
      <b>What currency is used in Sweden?</b><br>
      We're using SEK (swedish krona). If you're used to EUR the math is fairly simple, just divide
      SEK price by 10. For example €10 is about 100 SEK. For exact currency conversion from
      any other currency using <a href="https://goo.gl/3CHSAn">Google's currency converter</a> is easy.
    </p>
    <p>
      <b>Other questions?</b><br>
      If you have any questions that you don't find any answers for on the site
      please send us a mail at <a href="mailto:adishaktipuja+qa@gmail.com">adishaktipuja+qa@gmail.com</a>
      and we'll get back to you.
    </p>
  </div>
</div>
</div>
<div id="registration" class="section registration-section">
  <h1>Registration</h1>
  <div class="box">
    <p>
      All yogis wishing to join us in celebrating this puja will have to register beforehand.
      This will help us to order the correct amount of food and divide the spaces for accommodation in a practical manner.
    </p>
    <div class="text-center">
      <%= link_to "Register now!", new_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div class="menu bottom">
  <a class="menu-link" href="#welcome">Welcome</a>
  <a class="menu-link" href="#venue">Venue</a>
  <a class="menu-link" href="#travel">Travel</a>
  <a class="menu-link" href="#visa">Visa</a>
  <a class="menu-link" href="#qa">Q&amp;A</a>
  <a class="menu-link" href="#registration">Registration</a>
</div>
