<% @page_title = "Shri Adi Shakti Puja 2016" %>

<div id="intro-section" class="section intro-section">
  <div class="title-holder">
    <h1>Shri Adi Shakti Puja</h1>
    <h1 class="subtitle">Gothenburg, Sweden</h1>
  </div>
</div>
<div class="the-gradient">
<div id="welcome" class="section welcome-section">
  <h1>Welcome</h1>
  <div class="box">
    <p>
      The Puja will be held at a beautiful resort by the pacific ocean on the west coast of Sweden, about half an hour away from Gothenburg city.
    </p>
    <p>
      For accommodation you have the option of some amazing cabins, simple hostel rooms or collective sleeping tents.
    </p>
    <p>
      The hall for evening programs and the puja is a sports hall located just next to the camping area.
    </p>
  </div>
</div>
<div id="venue" class="section venue-section fp-table">
  <h1>Venue</h1>
  <div class="box">
    <p>
      The Puja will be held at a beautiful resort by the pacific ocean on the west coast of Sweden, about half an hour away from Gothenburg city.
    </p>
    <p>
      For accommodation you have the option of some amazing cabins, simple hostel rooms or collective sleeping tents.
    </p>
    <p>
      The hall for evening programs and the puja is a sports hall located just next to the camping area.
    </p>
  </div>
</div>
<div id="travel" class="section travel-section">
  <h1>Travel</h1>
  <div class="box">
    <p>
      By flight you can travel to Gothenburgs international airport called Landvetter.
      Cheap prices for flights can be searched for via
      <a href="http://skyscanner.com" target="_blank">Skyscanner</a>.
    </p>
    <p>
      From the airport you can use public transport to get to the puja area for about €10.
      Another good option if you are 4 in a group is to take a taxi for about €60 which will
      take you to your destination in 50 minutes.
      We will also offer airport pickup service for those who need for about €25 per person.
    </p>
    <p>
      For details on public transportation please have a look at our
      <a href="public.html">dedicated page</a> which you can print at your leisure.
    </p>
  </div>
</div>
<div id="visa" class="section visa-section">
  <h1>Visa</h1>
  <div class="box">
    <p>
      If you're not traveling from an EU/EES country you may need to apply for a Schengen Visa to travel into Sweden. The government office of Sweden has a
      <a href="http://www.government.se/government-policy/migration/list-of-foreign-citizens-who-require-visa-for-entry-into-sweden/" target="_blank">complete list</a>
      of countries needing Visa. Please use the link as a reference, if your country is listed you need a Visa, if not you can come at your leisure.
    </p>
    <p>
      To apply for a visa you can follow the advise given by <a href="http://www.swedenabroad.com/" target="_blank">www.swedenabroad.com</a>.
      First select your country / city from the dropdown menu, then click "Visit Sweden" followed by "Applying for a visa" or similar.
    </p>
  </div>
</div>
</div>
<div id="registration" class="section registration-section">
  <h1>Registration</h1>
  <div class="box">
    <p>
      All yogis wishing to join us in celebrating this historical puja will have to register beforehand.
      This will help us to order the correct amount of food and divide the limited spaces for accommodation in a practical manner.
    </p>
    <div class="text-center">
      <%= link_to "Register now!", group_registrations_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div class="menu bottom">
  <a class="menu-link" href="#welcome">Welcome</a>
  <a class="menu-link" href="#venue">Venue</a>
  <a class="menu-link" href="#travel">Travel</a>
  <a class="menu-link" href="#visa">Visa</a>
  <a class="menu-link" href="#registration">Registration</a>
</div>
