<% @page_title = "Thank you!" %>

<div class="sub-page">
  <div class="container">
    <h1>Scandinavian donation page</h1>
    <section>
      <div class="text-center">
        <h3>Thank you so much!</h3>
        <p>Your contribution of <strong>€<%= @donation.amount %></strong> was greatfully received.</p>
        <%= image_tag "lakshmi.png", width: 400 %>
      </div>
    </section>
  </div>
</div>
