@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

/* latin */
@font-face {
  font-family: daxline;
  font-style: normal;
  font-weight: lighter;
  src: url(asset-path("daxlinepro-light.woff")) format('woff');
}
