.section.intro-section {
  padding: 70px 0 0 0;
  text-align: center;
  background-image: url(image-path("intro-background.jpg"));

  h1.subtitle {
    margin-top: 70px;
    font-size: 48px;
  }

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("intro-background-x2.jpg"));
  }
}
