.section.intro-section {
  padding: 0;
  text-align: center;
  background-image: url(image-path("intro-background.jpg"));
  background-position: top left;

  h1:first-child {
    padding-top: 170px;

    @media screen and (min-width: $screen-sm-min) {
      padding-top: 70px;
    }
  }

  h1.subtitle {
    margin-top: 70px;
  }

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("intro-background-x2.jpg"));
    background-position: top center;
  }
}
