.slide-venue {
  background-image: url(image-path("venue-background.jpg"));

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("venue-background-x2.jpg"));
  }
}

.slide-accommodation {
  background-image: url(image-path("accommodation-background.jpg"));

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("venue-background-x2.jpg"));
  }
}

.slide-puja-hall {
  background-image: url(image-path("puja-hall-background.jpg"));

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("puja-hall-background-x2.jpg"));
  }
}

.slide-beds {
  background-image: url(image-path("beds-background.jpg"));

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("beds-background-x2.jpg"));
  }
}

.slide-surroundings {
  background-image: url(image-path("surroundings-background.jpg"));

  @media screen and (min-width: $screen-sm-min) {
    background-image: url(image-path("surroundings-background-x2.jpg"));
  }
}
